<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Menu</p>
    <nav>
      <ul>
        <li><a routerLink="/binding" routerLinkActive="active">Bindings</a></li>
        <li><a routerLink="/directives" routerLinkActive="active">Directives</a></li>
        <li><a routerLink="/http" routerLinkActive="active">Http</a></li>
        <li><a routerLink="/fifth" routerLinkActive="active">Table</a></li>
        <li><a href="/binding">Wrong Bindings link</a> </li>
      </ul>
    </nav>
  </mat-drawer>
  <div #mydiv class="example-sidenav-content">
    <div>
      <button type="button" mat-button (click)="drawer.toggle();">
        Menu
      </button>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>

<!-- 

<div>
  <h1>
    Menu
  </h1>
  <li><button (click)="onNavigateClick()">Back</button></li>
</div>


 -->
